{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css'>
    <link rel="stylesheet" href="{{ asset('css/gdpr.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div class="main-wrapper">
            <h1>Our Websites Privacy Policy</h1>

            <p>Our Website is part of a project for the course Software Engineering and Web Technology in the 3the bachelor of the Industrial Engineering: Electronics and ICT program at KULeuven.<br>
                This privacy policy will explain how we use the personal data we collect from you when you use our website.<br>
                <br>
            Topics:<br>
                <br>
            What data do we collect?<br>
            How do we collect your data?<br>
            How will we use your data?<br>
            How do we store your data?<br>
            Marketing<br>
            What are your data protection rights?<br>
            What are cookies?<br>
            How do we use cookies?<br>
            What types of cookies do we use?<br>
            How to manage your cookies<br>
            Privacy policies of other websites<br>
            Changes to our privacy policy<br>
            How to contact us<br>
            How to contact the appropriate authorities<br>
                <br>
            What data do we collect?<br>
                <br>
            </p>
            <h2>Our Websites collects the following data:</h2>

            <p>Personal identification information<br>
            Email<br>
                <br>
            </p>
            <h2>How do we collect your data?</h2>

            <p>You directly provide Our Company with most of the data we collect. We collect data and process data when you:<br>
                <br>
            Register online.<br>
                <br>
            Our Company may also receive your data indirectly from the following sources:<br>
                <br>
            None<br>
                <br>
            </p>
            <h2>How will we use your data?</h2>

            <p>Our Company collects your data so that we can:<br>
                <br>
            Process your favorite books and tailor your experience to a more personal one.<br>
            </p>
            <h2>How do we store your data?</h2>

            <p>Our Company securely stores your data at Groep t studev servers, secured by a personal security details.<br>
                <br>
            Our Company will keep your email for up to a year. Once this time period has expired, we will delete your data by purging the database.<br>
            </p>
            <h2>Marketing</h2>

            <p>Our Website does not use your data for marketing purposes.<br>
                <br>
            Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:<br>
            The right to access – You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.<br>
            The right to rectification – You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.<br>
            The right to erasure – You have the right to request that Our Company erase your personal data, under certain conditions.<br>
            The right to restrict processing – You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.<br>
            The right to object to processing – You have the right to object to Our Company’s processing of your personal data, under certain conditions.<br>
            The right to data portability – You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.<br>
                <br>
            If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: bingchilling<br>
                <br>
            Call us at: 04 zie je van hier<br>
                <br>
            </p>
            <h2>Cookies</h2>

            <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology
                <br>
            For further information, visit allaboutcookies.org.<br>
            </p>
            <h2>How do we use cookies?</h2>

            <p>Our Company uses cookies in a range of ways to improve your experience on our website, including:<br>
                <br>
            Keeping you signed in<br>
            Understanding how you use our website<br>
            </p>
            <h2>What types of cookies do we use?</h2>

            <p>There are a number of different types of cookies, however, our website uses:<br>
                <br>
            Functionality – Our Company uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer. First-party cookies are used.<br>
            </p>
            <h2>How to manage cookies</h2>

            <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.<br>
            </p>
            <h2>Privacy policies of other websites</h2>

            <p>The BookBinder website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.<br>
            </p>
            <h2>Changes to our privacy policy</h2>

            <p>Our Company keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 5 June 2023.<br>
            </p>>
            <h2>How to contact us</h2>

            <p>You just dont lmoa this si a testing thing and not for real XDXDXDXD<br>
            </p>
        </div>
    </main>
{% endblock %}
