{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
{#  Todo: book info ie. Cover, title, author, genre and description  #}

    <h2>Leave a Comment</h2>
    {{ form(commentForm) }}

{% endblock %}