{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
{#  Todo: book info ie. Cover, title, author, genre and description  #}
    <h2>Title</h2>

    <h2>Leave a Comment</h2>

    {{ form_start(commentForm) }}
        {{ form_widget(commentForm) }}
        <button type="submit" class="btn">Post comment</button>
    {{ form_end(commentForm) }}

{% endblock %}