{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css'>
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

<h1>Our Books</h1>
    <ul>
        {% for book in books_list %}
            {{ book }}
            <button type="button">Check this book</button>
        {% else %}
            No books found.
        {% endfor %}

    </ul>


{% endblock %}