{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <aside>
        <section>
            <h3>Recent chats</h3>
            <ul>
                <li> Message of friend 1</li>
                <li> Message of friend 2</li>
            </ul>
        </section>
    </aside>
    <article>
        <header>Conversation with friend x</header>
        <section>
            <ul>
                <li>Message 1</li>
                <li>Message 2</li>
                <li>Message 3</li>
                <li>...</li>
            </ul>
        </section>
    </article>
{% endblock %}