{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

    {# FIXME: Just some hardcoded examples, to be deleted afterwards #}
    {% set chatrooms = ['Alice', 'Bob', 'Cindy'] %}
    {% set messages = [['sender: me', 'receiver: Alice', 'message: hi!', 'timestamp: Today at 04:20']] %}

    <aside>
        <section>
            <h3>Recent chats</h3>
            <ul>
                {% for chat in chatrooms %}
                <li> Message of {{ chat }} </li>
                {% endfor %}
            </ul>
        </section>
    </aside>
    <article>
        {# TODO: WhatsApp-like layout showing messages. All conversations are shown in a sidebar on the left. The last clicked conversation is opened on the main screen #}
        <header>Conversation with friend x</header>
        <section>
            <ul>
                <li>Message 1</li>
                <li>Message 2</li>
                <li>Message 3</li>
                <li>...</li>
            </ul>
        </section>
    </article>
{% endblock %}