{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/messages.css') }}"/>
{% endblock %}

{% block content %}

    {# FIXME: Just some hardcoded examples, to be deleted afterwards #}
    {% set chatrooms = ['Alice', 'Bob', 'Cindy'] %}
    {% set messages = [['sender: me', 'receiver: Alice', 'message: hi!', 'timestamp: Today at 04:20']] %}

    <div class="message_box">
        <aside>
            <section>
                <h2>Recent chats</h2>
                <ul>
                    {% for chat in chatrooms %}
                        <li> Message of {{ chat }} </li>
                    {% endfor %}
                </ul>
            </section>
        </aside>
        <main>
            {# TODO: WhatsApp-like layout showing messages. All conversations are shown in a sidebar on the left. The last clicked conversation is opened on the main screen #}
            <section>
                <h2>Friend x</h2>
                <ul>
                    <li>Message 1</li>
                    <li>Message 2</li>
                    <li>Message 3</li>
                    <li>...</li>
                </ul>
                <form>
                    <div class="input_box">
                        <input type="text" placeholder="Type your message..." id="send_message">
                        <button type="button"> Send </button>
                    </div>

                </form>
            </section>
        </main>
    </div>
{% endblock %}