{% extends 'base.html.twig' %}

{% block title %}{{ user.getDisplayName }}{% endblock %}

{% block body %}
    <div class="user-profile">
        <h1>{{ user.getDisplayName }}</h1>

        <h2>Favorite Books</h2>
        <ul>
            {% for book in favorites %}
                <li>{{ favorite.getBook.getTitle }}</li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
